# Dependencies
node_modules/

# Build outputs
dist/
build/*
!build/installer.nsh
!build/icons
!build/notarize.js
out/

# Electron builder
dmg-staging/

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store

# IDE
.vscode/
.idea/

# Environment
.env
*.bak*
_backups/
